body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}


main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}

.bold {
  font-weight: bold;
}

.lowercase {
  text-transform: lowercase;
}

.sentiment {
  margin: 0 0 10px 10px;
  padding-top: 10px;
}

.sentiment li {
  margin-left: 10px;
}

.body {
  padding-left: 40px;
}

.travel-info {
  display: flex;
}

.travel-city .container {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.travel-city img {
  width: 40px;
}

.travel-city h2 {
  padding: 10px;
}

.travel-info + h3 {
  margin-top: 10px;
}

.travel-forecast {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

 .flex-item {
  text-align: center;
  width: 80px;
  margin: 10px 1.89px 0 0;

}

.flex-item img {
  width: 100%;
}

@media only screen and (min-width: 820px) {
  .body {
    padding: 0;
  }

  .flex-item {
    padding: 5px;
    width: 54px;
    margin: 10px 3px 10px 0;
    height: 50px;
    color: black;
    text-align: center;
  }
}